# MicroPython on ESP32, ESP IDF configuration with SPIRAM support
# The following options override the defaults

#
# PARTITION
#
#CONFIG_PARTITION_TABLE_CUSTOM=y
#CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="boards/ESP32_CAM/partitions.csv"

CONFIG_ESP32_REV_MIN_3=y
